@model IEnumerable<MvcCoreLinqToXML.Models.Joyeria>

@{
    ViewData["Title"] = "Index";
}

<h1>Joyerias</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
        </tr>
}
    </tbody>
</table>
