@model IEnumerable<MvcCoreLinqToXML.Models.Escena>

@{
    Pelicula peli = ViewData["PELICULA"] as Pelicula;
}

@{
    ViewData["Title"] = "EscenasPelicula";
}

<h1>Escenas Pelicula</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@peli.Poster" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@peli.Titulo</h5>
        <p class="card-text">Título original: @peli.TituloOriginal</p>
        <p class="card-text">@peli.Descripcion</p>
        <a asp-controller="Peliculas" asp-action="Index" 
        class="btn btn-primary">Volver</a>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <img src="@item.Imagen" style="width: 350px; height: 350px;"/>
            </td>
        </tr>
}
    </tbody>
</table>
